{% extends 'main/page_template.html' %}
{% block title %} Search {% endblock %}

{% block content %}

{% if planet %}
<div class="second_head">
    <h2> {{ planet.name }} </h2>
</div>

        <div class="search_res">
                <h3>{{ planet.name }}</h3>
                <h5>{{ planet.description }}</h5>
                {% for i in star_system %}

                <a href="{% url 'star_detail' i.id %}"> <h4> {{ i.name }} </h4></a>
                {% endfor %}
        </div>
</div>
{% endif %}



{% endblock %}
