{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>
<body>
    <div class='header'>
        <heder><img src=" /static/heder.png" alt="header_img" width="100%"></heder>
    </div>
    <aside>
        <div class="side_menu">
        <ul>
            <a href="{% url 'main' %}"> <li> Main</li></a>
            <a href="{% url 'search' %}"> <li> Search</li></a>
            <a href="{% url 'planets' %}"> <li> View all planets</li></a>
            <a href="{% url 'stars' %}"> <li> View all stars </li></a>

        </ul>
        </div>

    </aside>

    <main>


        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h4>Made by Arkanion in 2020-2021</h4>
        <h4><a href="https://github.com/arkani0n/Space_Finder">Link to Github</a></h4>
    </footer>

</body>
</html>
